body {
  height: 100vh;
}

.pic-area {
  height: 100vh;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgba(grey, 0.9), rgba(grey, 0.3)),
    url("../img/image-1.jpg") center top no-repeat;
  background-size: cover;
  font-family: "Marck Script", cursive;

  h1,
  h2,
  h3 {
    font-weight: 800;
  }

  h1 {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }

  .pic-area-text {
    padding: 1rem;
    background: rgba(71, 71, 71, 0.2);
  }

  .btn-order {
    font-family: "Baloo 2", cursive;
    text-decoration: none;
    outline: none;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1rem;
    letter-spacing: 1px;
    background: $primary-color;
    border: 1px solid black;
    @include transition-ease;

    &:hover {
      background: rgba(207, 207, 207, 0.3);
    }
  }
}

.intro {
  padding: 3rem 0;
  display: flex;
  font-family: "Baloo 2", cursive;
  color: white;
  background: black;

  h1 {
    text-align: center;
    margin: 20px;
  }

  p {
    align-items: center;
    text-align: center;
    margin: 0px 3rem;
  }

  &-boxA {
    width: 100%;
    height: 100vh;
    background: url("../img/who-we-are.jpg") no-repeat;
  }

  &-boxB {
    width: 50%;
    padding-top: 30vh;
  }
}

.services {
  padding: 3rem 0;
  display: flex;
  font-family: "Baloo 2", cursive;
  color: black;
  background: $primary-color;

  h1 {
    text-align: center;
    margin: 20px;
  }

  p {
    align-items: center;
    text-align: center;
    margin: 0px 3rem;
  }

  &-boxA {
    width: 70%;
    padding-top: 30vh;
    margin: 0;
  }

  &-boxB {
    width: 100%;
    height: 100vh;
    background: url("../img/services.jpg") no-repeat;
    margin: 0;
    padding: 0;
  }
}

.menu {
  padding: 3rem 0;
  display: flex;
  font-family: "Baloo 2", cursive;
  color: black;
  background: rgb(182, 182, 182);

  h1 {
    text-align: center;
    margin: 20px;
  }

  p {
    align-items: center;
    text-align: center;
    margin: 0px 3rem;
  }

  &-boxA {
    width: 100%;
    height: 70vh;
    background: url("../img/menu.jpg") no-repeat;
    padding: 0;
    margin: 0;
  }

  &-boxB {
    width: 100%;
    padding-top: 20vh;
    margin: 0;
  }
}

footer {
  background-color: rgb(182, 182, 182);
}
