@include media-md {
  .contact {
    .pic-area {
      padding-top: 20vh;
      .sections {
        grid-template-columns: 1fr;
        &-section {
          font-size: 1rem;
          padding: 0;
          margin: 0;
        }
      }

      .icons {
        font-size: 1.5rem;
        display: inline;
        padding: 0;
        margin: 0;

        a {
          color: black;
          outline: none;
          text-decoration: none;
          margin: 0.5rem;
          @include transition-ease;

          &:hover {
            color: $primary-color;
          }
        }
      }

      .copyright {
        font-size: 0.75rem;
      }
    }
  }
}

@include media-lg {
  .home {
    .main-area {
      h1 {
        font-size: 1rem;
        margin: 20px;
      }

      p {
        font-size: 0.7rem;
        margin: 10px 20%;
      }
      .section-area {
        .box {
          &-text {
            position: static;
            margin: 0;
          }
        }
      }
    }
  }
  .services {
    .main-area {
      h1 {
        font-size: 1rem;
        margin: 20px;
      }

      p {
        font-size: 0.7rem;
        margin: 10px 20%;
      }
      .section-area {
        .box {
          &-text {
            position: static;
            margin: 0;
          }
        }
      }
    }
  }
}

// @include media-xl {
//   .pic-area {
//     height: 100vh;
//   }
// }
