@media screen and (min-width: 768px) {
  /* Start of Navbar mobile */
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;

      &__item {
        display: inline;
        padding-right: 1.5rem;
      }

      &__link {
        font-size: 1.5rem;
      }
    }
  }
  /* End of Navbar mobile */

  /* Shopping Cart and View Button*/
  .cart,
  .one__view,
  .two__view,
  .three__view,
  .four__view,
  .five__view,
  .six__view,
  .seven__view,
  .eight__view,
  .nine__view,
  .ten__view,
  .eleven__view,
  .twelve__view {
    width: 30vw;
    min-width: 450px;
  }
}

@include media-md {
  /* Shopping Cart and View Button*/
  .cart,
  .one__view,
  .two__view,
  .three__view,
  .four__view,
  .five__view,
  .six__view,
  .seven__view,
  .eight__view,
  .nine__view,
  .ten__view,
  .eleven__view,
  .twelve__view {
    width: 100%;
  }

  .contact {
    .pic-area {
      padding-top: 20vh;
      .sections {
        grid-template-columns: 1fr;
        &-section {
          font-size: 1rem;
          padding: 0;
          margin: 0;
        }
      }

      .icons {
        font-size: 1.5rem;
        display: inline;
        padding: 0;
        margin: 0;

        a {
          color: black;
          outline: none;
          text-decoration: none;
          margin: 0.5rem;
          @include transition-ease;

          &:hover {
            color: $primary-color;
          }
        }
      }

      .copyright {
        font-size: 0.75rem;
      }
    }
  }

  .sign-up,
  .sign-in {
    .pic-area {
      height: 100vh;
      padding-top: 35vh;
      overflow: hidden;

      label {
        font-size: 1.5rem;
      }

      .pic-area-text {
        padding: 0.25rem;
        background: rgba(71, 71, 71, 0.2);
      }

      input {
        font-size: 1rem;
        border: 1px solid $primary-color;
      }

      #username-display {
        font-size: 1rem;
        margin: 0.5rem;
      }

      .btn-order {
        padding: 0.25rem 1rem;
        font-size: 1rem;
        letter-spacing: 0.5px;
      }

      .icons {
        font-size: 1.5rem;
        margin-top: 1rem;

        a {
          margin: 0.25rem;
        }
      }
    }
  }
}

@include media-lg {
  .home {
    .main-area {
      h1 {
        font-size: 1rem;
        margin: 20px;
      }

      p {
        font-size: 0.7rem;
        margin: 10px 20%;
      }
      .section-area {
        .box {
          &-text {
            position: static;
            margin: 0;
          }
        }
      }
    }
  }
  .services {
    .main-area {
      h1 {
        font-size: 1rem;
        margin: 20px;
      }

      p {
        font-size: 0.7rem;
        margin: 10px 20%;
      }
      .section-area {
        .box {
          &-text {
            position: static;
            margin: 0;
          }
        }
      }
    }
  }
}

// @include media-xl {
//   .pic-area {
//     height: 100vh;
//   }
// }
