@import "config";
@import "responsive";
@import "menu";

.background {
  height: 100vh;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgba(grey, 0.9), rgba(grey, 0.3)),
    url("../img/image-2.jpg") center top no-repeat;
  background-size: cover;
  font-family: "Marck Script", cursive;
}

h1,
h2,
h3 {
  font-weight: 800;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

body {
  height: 100vh;
  font-family: "Baloo 2", cursive;
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
  @include transition-ease;

  &:hover {
    color: rgb(255, 157, 66);
  }
}

.menu-nav__item.active > a {
  color: rgb(255, 157, 66);
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
  background: black;
  text-align: right;
}

p {
  color: black;
  align-items: center;
  text-align: center;
  margin: 4rem;
}

span {
  color: white;
}
