@import "config";
@import "menu";
@import "home";
@import "services";
@import "contact";
@import "sign-in";
@import "sign-up";
@import "responsive";

html {
  @include transition-ease;
}

header {
  .menu-btn {
    text-align: left;
    position: fixed;
    z-index: 1;
    right: 1rem;
    top: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    @include transition-ease;

    &__burger {
      position: absolute;
      right: 0;
      top: 0.5rem;
      width: 28px;
      height: 3px;
      background: $white-color;
      @include transition-ease;

      &::before {
        content: "";
        position: absolute;
        top: -8px;
        width: 28px;
        height: 3px;
        background: $white-color;
        @include transition-ease;
      }

      &::after {
        content: "";
        position: absolute;
        top: 8px;
        width: 28px;
        height: 3px;
        background: $white-color;
        @include transition-ease;
      }

      &.open {
        transform: rotate(720deg);
        background: transparent;

        &::before {
          transform: rotate(45deg) translate(5px, 8px);
        }

        &::after {
          width: 28px;
          transform: rotate(-45deg) translate(3px, -7px);
        }
      }
    }
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0.98;
    visibility: hidden;

    .logo {
      font-family: "Marck Script", cursive;
      float: left;
      font-size: 1.5rem;
      color: $white-color;
    }

    .sign-in,
    .sign-up {
      font-size: 1rem;
      margin-right: 0rem;
    }

    .sign-in.active,
    .sign-up.active {
      color: $primary-color;
    }

    #slash {
      color: white;
      margin: 0 0.5rem;
    }

    ul li {
      display: inline;
      font-family: "Baloo 2", cursive;
    }

    a {
      outline: none;
      color: white;
      font-size: 1.5rem;
      margin-right: 2rem;
      text-decoration: none;
      @include transition-ease;

      &:hover {
        color: $primary-color;
      }
    }

    .menu-nav__item.active > a {
      color: $primary-color;
    }

    &.open {
      visibility: visible;
    }

    .menu-nav {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      height: 100vh;
      overflow: hidden;
      background: black;
      list-style-type: none;
      padding-right: 1rem;
      transform: translateY(-100%);
      @include transition-ease;

      &.open {
        transform: translateY(0);
      }

      &__item {
        transform: translateX(100vw);
        @include transition-ease;

        &.open {
          transform: translateX(0);
        }

        &.active > a {
          color: $primary-color;
        }
      }

      &__link {
        display: inline-block;
        font-size: 2rem;
        text-transform: uppercase;
        padding: 2rem 0;
        font-weight: 300;
        @include transition-ease;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  @for $i from 1 through 5 {
    .menu-nav__item:nth-child(#{$i}) {
      transition-delay: ($i * 0.1s) + 0.15s;
    }
  }

  /* Beginning of cart code */
  .cart__openBtn,
  .cart__closeBtn {
    cursor: pointer;
  }

  .cart__closeBtn {
    position: fixed;
    font-size: 1.5rem;
    @include transition-ease;

    &:hover {
      color: $primary-color;
    }
  }

  .cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    @include transition-ease;
    background: rgba(112, 112, 112, 0.5);
    z-index: 2;
    visibility: hidden;
  }

  .cart {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    overflow: auto;
    z-index: 3;
    background: black;
    padding: 1.5rem;
    @include transition-ease;
    border: 2px groove $secondary-color;
    transform: translateX(100%);
    text-align: center;
    font-family: "Baloo 2", cursive;
    color: $white-color;
  }

  .span-primary {
    color: $primary-color;
  }

  .transparentBcg {
    visibility: visible;
  }

  .showcart {
    transform: translateX(0);
  }
  /* End of cart code */
  /* Beginning of View code */
  .one,
  .two,
  .three,
  .four,
  .five,
  .six,
  .seven,
  .eight,
  .nine,
  .ten,
  .eleven,
  .twelve {
    &__view__openBtn,
    &__view__closeBtn {
      cursor: pointer;
    }

    &__view__closeBtn {
      position: fixed;
      right: 5%;
      font-size: 1.5rem;
      @include transition-ease;

      &:hover {
        color: $primary-color;
      }
    }

    &__view-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include transition-ease;
      background: rgba(112, 112, 112, 0.5);
      z-index: 2;
      visibility: hidden;
    }

    &__view {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      overflow: auto;
      z-index: 3;
      background: black;
      padding: 1.5rem;
      @include transition-ease;
      border: 2px groove $secondary-color;
      transform: translateX(-100%);
      text-align: center;
      font-family: "Baloo 2", cursive;
      color: $white-color;
    }

    &__transparentBcg {
      visibility: visible;
    }

    &__showview {
      transform: translateX(0);
    }
  }

  img {
    width: 350px;
    height: 350px;
    border-radius: 20rem;
    padding: 0;
    margin: 5%;
    border: 5px solid $primary-color;
  }

  .nutritional_info {
    text-align: left;

    h2 {
      text-align: center;
    }

    .bar {
      margin: 0.25rem 0;
      padding: 0.25rem 0;

      &-large {
        border-bottom: 5px solid $white-color;
      }

      &-medium {
        border-bottom: 2px solid $white-color;
      }

      &-small {
        border-bottom: 1px solid $white-color;
      }
    }

    .span-right {
      float: right;
    }

    .span-align-right {
      text-align: right;
    }

    .indent {
      text-indent: 2rem;
    }
  }

  .ingredients,
  .allergens {
    margin: 1.5rem 0;
    h2 {
      color: $primary-color;
    }
  }
  /* End of View code */
}

.no-scroll {
  overflow: hidden;
}

.mug-logo {
  color: $white-color;
}

.logo-first {
  color: $secondary-color;
  text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(37, 37, 37),
    -1px 1px 0 rgb(37, 37, 37), 1px 1px 0 rgb(37, 37, 37);
}

.logo-last {
  color: $primary-color;
  text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(37, 37, 37),
    -1px 1px 0 rgb(37, 37, 37), 1px 1px 0 rgb(37, 37, 37);
}

footer {
  font-family: "Baloo 2", cursive;

  .icons {
    font-size: 2.5rem;
    display: inline;
    padding: 0;
    margin: 0;

    a {
      color: black;
      outline: none;
      text-decoration: none;
      margin: 0.5rem;
      @include transition-ease;

      &:hover {
        color: $hover-color;
      }
    }
  }

  .copyright {
    padding: 0;
    margin-top: 2rem;
    float: right;
  }
}
